.orcos-label {
    margin-bottom: 8px;

    color: var(--color-5-alpha);

    font-size: 14px;
}

.orcos-input {
    width: 100%;

    padding: 8px 12px;

    outline: none;

    background-color: var(--color-1);
    
    border: 1px solid var(--color-3);
    border-radius: var(--border-radius);

    &:focus {
        border: 1px solid var(--color-accent);
        outline: 2px solid var(--color-accent-alpha);
    }

    &[type="color"] {
        padding: 0;

        -webkit-appearance: none;
        border: none;

        &::-webkit-color-swatch-wrapper {
            padding: 0;
        } 
        &::-webkit-color-swatch {
            border: none;
            border-radius: var(--border-radius);
        }
    }
}

.orcos-input[type="range"] {
    // -webkit-appearance: none;

    width: 100%;

    padding-left: 0;
    padding-right: 0;

    outline: none;
    border: none;

    background-color: transparent !important;
}
.orcos-input[type="range"]:focus {
    outline: none;
}
.orcos-input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--basic-2-color);
    border-radius: 25px;
    border: 0px solid #000101;
}
.orcos-input[type="range"]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: var(--color-gizmo);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
.orcos-input[type="range"]:focus::-webkit-slider-runnable-track {
    background: var(--basic-2-color);
}
.orcos-input[type="range"]::-moz-range-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: var(--basic-2-color);
    border-radius: 25px;
    border: 0px solid #000101;
}
.orcos-input[type="range"]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: var(--color-gizmo);
    cursor: pointer;
  }
.orcos-input[type="range"]::-ms-track {
    width: 100%;
    height: 12.8px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}
.orcos-input[type="range"]::-ms-fill-lower {
    background: var(--basic-2-color);
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.orcos-input[type="range"]::-ms-fill-upper {
    background: var(--basic-2-color);
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
.orcos-input[type="range"]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 20px;
    width: 39px;
    border-radius: 7px;
    background: var(--color-gizmo);
    cursor: pointer;
}
.orcos-input[type="range"]:focus::-ms-fill-lower {
    background: var(--basic-2-color);
}
.orcos-input[type="range"]:focus::-ms-fill-upper {
    background: var(--basic-2-color);
}

orcos-units-input {
    display: flex;
    flex-direction: row;
    gap: 4px;

    input {
        width: 70% !important;
    }
    select {
        text-align: center;

        padding-left: 2px !important;
        padding-right: 2px !important;
        width: 30% !important;
    }
}