html,body,#app {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--color-2);
}

*,*::before,*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: var(--font-text);
}

hr {
    border-color: var(--color-3);
    border-width: 0.5px;

    width: 100%;

    margin: 0 -15px;
}

#app {
    display: flex;
    flex-direction: row;
}

nav {
    width: 100vw;
    height: 50px;

    padding: 10px 15px;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #1a1a1a;
    color: var(--color-2);

    z-index: 200;
}

main {
    width: 100%;
    height: 100%;

    flex: 0 1 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 50;

    background-color: var(--color-2);
}

aside {
    width: 100%;
    max-width: 250px;
    background-color: var(--color-1);

    z-index: 100;

    padding: 20px 15px;

    display: flex;
    flex-direction: column;

    &.side-left {
        flex: 1 0 0;

        border-right: var(--border-width) solid var(--color-3);
    }
    &.side-right {
        flex: 0 0 1;

        border-left: var(--border-width) solid var(--color-3);
    }

    .title {
        text-transform: uppercase;
        color: var(--color-5-alpha);

        margin-bottom: 15px;
    }
}

.orcos-code {
    padding: 1px 4px;

    border-radius: 6px;

    background-color: #1f1e1e;
    color: var(--color-2);

    font-family: Menlo, 'Courier New', Courier, monospace;
    font-weight: 500;
}

orcos-tree {
    display: flex;
    flex-direction: column;
}
orcos-node {
    height: min-content;

    .node-handle {
        padding: 5px 10px;
    
        margin-bottom: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        user-select: none;

        font-size: 18px;

        background-color: var(--color-2);

        border: 2px solid var(--color-3);
        border-radius: 6px;

        transition: var(--transition);
        transition-property: background, border;

        .node-title {
            width: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            border: 2px solid var(--color-accent) !important;
        }
        &[selected] {
            cursor: default;
            border: 2px solid transparent;
            background-color: var(--color-accent-alpha);
        }
        &.visible {
            svg {
                transform: rotate(0deg);
            }
            + .nodes {
                display: flex;
            }
        }
        svg {
            width: 20px;
            height: 20px;

            cursor: pointer;
            
            &.close-icon {
                transform: rotate(-90deg);
                transition: var(--transition) transform;
            }
        }
    }
    > .nodes {
        display: none;
        flex-direction: column;
        padding-left: 15px;
    }
}

orcos-properties {
    display: flex;
    flex-direction: column;
    overflow-x: visible;
    overflow-y: scroll;

    .category {
        margin: 0 -15px;
        margin-bottom: 15px;

        &.visible svg {
            transform: rotate(180deg);
        }
        &.visible .category-fields {
            display: flex;
        }

        .category-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            cursor: pointer;

            padding-bottom: 8px;

            span {
                margin-left: 15px;
            }
            svg {
                margin-right: 15px;

                transition: var(--transition);
            }

            border-bottom: 1px solid var(--color-3);
        }
        .category-fields {
            padding: 0 15px;
            padding-top: 10px;

            display: none;
            flex-direction: column;

            background-color: var(--color-2);
        }
    }

    .property {
        display: flex;
        flex-direction: column;

        margin-bottom: 15px;

        .property-field.buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 12px;
        }
    }
}

orcos-root-component {
    [contenteditable] {
        outline: none;
    }
    &[selected], [selected] {
        //border: 2px solid var(--color-accent);
        outline: 4px solid var(--color-accent-alpha) !important;
    }
}

orcos-window {
    position: fixed;
    top: 8rem;
    left: 8rem;

    width: 100%;
    max-width: 32rem;
    height: max-content;
    min-height: 16rem;

    z-index: 1000;

    background-color: var(--color-1);

    border-radius: var(--border-radius);
    border: 1px solid var(--color-3);

    box-shadow: var(--shadow-basic);

    display: none;
    &[visible="true"] {
        display: block;
    }

    .window-header {
        height: 2.4rem;

        padding: 6px 12px;

        background-color: var(--color-2);

        border-radius: var(--border-radius);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid var(--color-3);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .window-title {
            user-select: none;

            font-size: 18px;

            color: var(--color-5-alpha);
        }
        .window-close {
            cursor: pointer;
        }
    }

    .window-body {
        padding: 14px 12px;

        display: flex;
        flex-direction: column;
    }
}