html,body,#app {
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    background-color: var(--color-2);
}

*,*::before,*::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: var(--font-text);
}

hr {
    border-color: var(--color-3);
    border-width: 0.5px;

    width: 100%;

    margin: 0 -15px;
}

#app {
    display: flex;
    flex-direction: row;
}

nav {
    width: 100vw;
    height: 50px;

    padding: 10px 15px;

    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #1a1a1a;
    color: var(--color-2);

    z-index: 200;
}

main {
    width: 100%;
    height: 100%;

    flex: 0 1 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 50;

    background-color: var(--color-2);
}

aside {
    width: 100%;
    max-width: 250px;
    background-color: var(--color-1);

    z-index: 100;

    padding: 20px 15px;

    display: flex;
    flex-direction: column;

    &.side-left {
        flex: 1 0 0;

        border-right: var(--border-width) solid var(--color-3);
    }
    &.side-right {
        flex: 0 0 1;

        border-left: var(--border-width) solid var(--color-3);
    }

    .title {
        text-transform: uppercase;
        color: var(--color-5-alpha);

        margin-bottom: 15px;
    }
}

.orcos-button {
    padding: 6px;

    background-color: var(--color-1);

    outline: none;
    border: 1px solid var(--color-3);
    border-radius: var(--border-radius);

    transition: 0.3s ease-in-out background, border-color;

    &:hover {
        background-color: var(--color-2);
    }
    &:focus,&.selected {
        border: 1px solid var(--color-accent);
        outline: 2px solid var(--color-accent-alpha);
    }
    &.selected {
        background-color: var(--color-accent);
        color: var(--color-1);
    }
}

.orcos-list {
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;

    .orcos-list-item {
        flex-grow: 1;
        width: 30%;
        height: max-content;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        padding: 10px 16px;

        background-color: var(--color-2);

        border: 1px solid var(--color-3);
        border-radius: var(--border-radius);

        p {
            user-select: none;
        }
        svg {
            width: 30px;
            height: 30px;

            opacity: 0.5;
        }

        &:hover {
            outline: 3px solid var(--color-accent-alpha);
            border: 1px solid var(--color-accent);
        }
    }
}

.orcos-code {
    padding: 1px 4px;

    border-radius: 6px;

    background-color: #1f1e1e;
    color: var(--color-2);

    font-family: Menlo, 'Courier New', Courier, monospace;
    font-weight: 500;
}

orcos-tree {
    display: flex;
    flex-direction: column;
}
orcos-node {
    height: min-content;

    .node-handle {
        padding: 5px 10px;
    
        margin-bottom: 5px;

        display: flex;
        flex-direction: row;
        align-items: center;

        user-select: none;

        font-size: 18px;

        background-color: var(--color-2);

        border: 2px solid var(--color-3);
        border-radius: 6px;

        transition: var(--transition);
        transition-property: background, border;

        .node-title {
            width: 100%;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &:hover {
            border: 2px solid var(--color-accent) !important;
        }
        &[selected] {
            cursor: default;
            border: 2px solid transparent;
            background-color: var(--color-accent-alpha);
        }
        &.visible {
            svg {
                transform: rotate(0deg);
            }
            + .nodes {
                display: flex;
            }
        }
        svg {
            width: 20px;
            height: 20px;
        
            margin-right: 5px;

            cursor: pointer;
            
            &.close-icon {
                transform: rotate(-90deg);
                transition: var(--transition) transform;
            }
        }
    }
    > .nodes {
        display: none;
        flex-direction: column;
        padding-left: 15px;
    }
}

orcos-properties {
    display: flex;
    flex-direction: column;
    //overflow-y: scroll;

    .category {
        margin: 0 -15px;
        margin-bottom: 15px;

        &.visible svg {
            transform: rotate(180deg);
        }
        &.visible .category-fields {
            display: flex;
        }

        .category-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            cursor: pointer;

            padding-bottom: 8px;

            span {
                margin-left: 15px;
            }
            svg {
                margin-right: 15px;

                transition: var(--transition);
            }

            border-bottom: 1px solid var(--color-3);
        }
        .category-fields {
            padding: 0 15px;
            padding-top: 10px;

            display: none;
            flex-direction: column;

            background-color: var(--color-2);
        }
    }

    .property {
        display: flex;
        flex-direction: column;

        margin-bottom: 15px;

        label {
            margin-bottom: 8px;

            color: var(--color-5-alpha);
        
            font-size: 14px;
        }
        input, select, textarea {
            width: 100%;

            padding: 8px 12px;

            outline: none;

            background-color: var(--color-1);
            
            border: 1px solid var(--color-3);
            border-radius: var(--border-radius);

            &:focus {
                border: 1px solid var(--color-accent);
                outline: 2px solid var(--color-accent-alpha);
            }

            &[type="color"] {
                padding: 0;

                -webkit-appearance: none;
                border: none;

                &::-webkit-color-swatch-wrapper {
                    padding: 0;
                } 
                &::-webkit-color-swatch {
                    border: none;
                    border-radius: var(--border-radius);
                }
            }
        }
        .property-field.buttons {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            gap: 12px;
        }
    }
}

orcos-root-component {
    [contenteditable] {
        outline: none;
    }
    &[selected], [selected] {
        //border: 2px solid var(--color-accent);
        outline: 4px solid var(--color-accent-alpha) !important;
    }
}

orcos-window {
    position: fixed;
    top: 8rem;
    left: 8rem;

    width: 100%;
    max-width: 32rem;
    height: max-content;
    min-height: 16rem;

    z-index: 1000;

    background-color: var(--color-1);

    border-radius: var(--border-radius);
    border: 1px solid var(--color-3);

    box-shadow: var(--shadow-basic);

    display: none;
    &[visible="true"] {
        display: block;
    }

    .window-header {
        height: 2.4rem;

        padding: 6px 12px;

        background-color: var(--color-2);

        border-radius: var(--border-radius);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 1px solid var(--color-3);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .window-title {
            user-select: none;

            font-size: 18px;

            color: var(--color-5-alpha);
        }
        .window-close {
            cursor: pointer;
        }
    }

    .window-body {
        padding: 14px 12px;

        display: flex;
        flex-direction: column;
    }
}