:root {
    --color-accent: #252ff6;
    --color-1: white;
    --color-2: #f7f8fa;
    --color-3: #f0f1f3;
    --color-4: #dbdde1;
    --color-5: black;
    --color-5-alpha: rgba(0, 0, 0, .6);

    --font-text:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --border-width: 1px;
    --border-radius: 12px;
}